@import "tailwindcss";

@theme {
/* BRAND COLORS */
  --color-brand-primary: #FFB0A1;
  --color-brand-secondary: #FFFFFF;
  --color-brand-accent: #191715;

/* BACKGROUNDS */
  --color-brand-background: #FFB0A1;
  --color-brand-surface: #FFFFFF;
  --color-brand-card: #191715;

/*TEXT*/
  --color-brand-text: #ffffff;
  --color-brand-muted: #191715;

/*BORDER*/
  --color-brand-border: #FFB0A1;
}